// src/components/article-params-form/ArticleParamsForm.module.scss

.container {
	position: fixed;
	z-index: 1;
	box-sizing: border-box;
	width: 615px;
	height: 100vh;
	padding: 50px 30px;
	overflow-y: auto;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	border-right: solid 1px #000000;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content: '';
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	.title {
		margin-bottom: 50px;
		font-weight: 800;
		font-size: 31px;
		text-transform: uppercase;
	}

	.section {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.label {
		font-weight: 800;
		font-size: 12px;
		text-transform: uppercase;
	}

	.bottomContainer {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #eeeeee;
	}
}
